.single-container
  %header.single-header
    %h1.single-header__logo
      =link_to image_tag("/images/logo/logo.png", width:"134", height:"36"), root_path  
  %main.single-main
    %section.single-main__container
      %h2.single-main__container__title
        住所入力
      .single-main__container__form__frame
        =form_for @address do |f|
          =render "devise/shared/error_messages", resource: @address
          .single-form
            .field
              = f.label :郵便番号
              %span.field__require 必須
              = f.text_field :postal_code,{autofocus: true, placeholder: "例）123-4567", class: 'field__input'}
            .field
              = f.label :都道府県
              %span.field__require 必須
              = f.select :prefecture, Address.prefectures.keys, {}, {class: 'field__input'}
            .field
              = f.label :市町村
              %span.field__require 必須
              = f.text_field :city, autofocus: true, placeholder: "例）札幌市", class: 'field__input'
            .field
              = f.label :番地
              %span.field__require 必須
              = f.text_field :address, autofocus: true, placeholder: "例）青葉1-1-1", class: 'field__input'
            .field
              = f.label :建物名
              %span.field__optional 任意
              = f.text_field :building_name, autofocus: true, placeholder: "例）柳ビル103", class: 'field__input'
            .field
              = f.submit '登録する', class: "btn-red"
  = render "registration_footer"


