.wrapper
  .headerWrapper
    .Inner
      .Inner__main
        .icon
          = link_to root_path do
            = image_tag ("logo.png")
        .searchForm
          = form_with(url: "", local: true, method: :get, class: "form") do |form|
            = form.text_field :keyword, placeholder: "キーワードから探す", class: "searchForm-input"
            = button_tag type: 'submit', class: 'search-btn' do
              %i.fas.fa-search
      .Inner__nav
        %ul.leftTag
          %li.leftTag1
            = link_to "#" do
              カテゴリー
          %li.leftTag2
            = link_to "" do
              ブランド
  %div.payment            
    %div.payment__form
      .payment__title
        %h3 お支払い方法
    %div.creditcard
      .creditcard__title
        クレジットカード
      .creditcard__post
        = link_to "#", class: :newStage do
          新規カードを登録する
  .footbar
    .footbar__title
      設定
    %ul.footbar__list
      %li.footbar__mypage
        = link_to users_path, class: :footbar__link do
          マイページ
      %li.footbar__logout
        = link_to "/users/logout", class: :footbar__link do
          ログアウト
.footer
  %ul.footerContents
    %li.content
      %h2.content__top FURIMAについて
      %ul
        %li
          = link_to "#" do
            会社概要(運営会社)
        %li
          = link_to "#" do
            プライバシーポリシー
        %li
          = link_to "#" do
            FURIMA利用規約
        %li
          = link_to "#" do
            ポイントに関する特約
    %li.content
      %h2.content__top FURIMAを見る
      %ul
        %li
          = link_to "#" do
            カテゴリー一覧
        %li
          = link_to "#" do
            ブランド一覧
    %li.content
      %h2.content__top ヘルプ&ガイド
      %ul
        %li
          = link_to "#" do
            FURIMAガイド
        %li
          = link_to "#" do
            FURIMAロゴ利用ガイドライン
        %li
          = link_to "#"do
            お知らせ
  %div.footer__logo
    = link_to "#" do
      = image_tag ("logo-white.png")
    %p.footer__copyright
      &copy; FURIMA         


