.container
  %header.single-header
    %h1.single-header__logo
      =link_to image_tag("/images/logo/logo.png", width:"134", height:"36"), root_path
  .single-main
    %div.login-panel
      %div.login-noaccount
        %p
        アカウントをお持ちでない方はこちら
        = link_to new_user_registration_path, class: "login-noaccount__btn" do
          %br/
          新規会員登録
        = form_for(@user, url: user_registration_path) do |f|
          .single-form
            .field
              = f.email_field :email, autofocus: true, placeholder: "メールアドレス", autocomplete: "email", class: "email"
            .field
              = f.password_field :password, autocomplete: "new-password", placeholder: "パスワード", class: "password"
            .actions
              = f.submit "ログイン", class: "submit-btn"
            = render "devise/shared/links"
  = render "devise/registrations/registration_footer"
          

