.header
  .header__logo
    = link_to root_path do
      =image_tag("logo.png", size: "220x70")

.breadcrumbs
  - breadcrumb :card_show
  = breadcrumbs pretext: "", separator: "&rsaquo;", class: "breadcrumbs-list"

.mypage-main
  .header_title
    支払い方法
    .single-container
      %section.card_section
        %h3 クレジットカード詳細
        - if @card.present?
          .container
            .card-info
              = image_tag asset_path"card/#{@card_image}",width:'34',height:'20', alt:'master-card'
              %p.card-info__number
                = "**** **** **** " + @card_info.last4 #クレジットカードの下４桁を表示
              %p.card-info__period 
              = @exp_month + " / " + @exp_year
              = button_to "削除する", card_path(@card), method: :delete, class:"card-info__delete", data: { confirm: '削除してよろしいですか？' }
              = link_to "マイページに戻る", users_path, class: "my_page__btn"