.wrapper
  .wrapper__top
    .header
      .header__icon
        = link_to root_path do
          = image_tag ("logo.png"), class: "aBtn"
  .contents
    .content
      = form_with url:pay_item_buyers_path(params[:item_id]), method: :post do |f|
        .content__top
          %h2 
            購入内容の確認
        .content__img
          .tagimg
          .textimg
        .content__statement
          .statement
            .amount
              %p.text 支払い金額
              %p.integer
                = "¥#{@item.price}"
            .point
              %p.text ポイントの使用
              %p.integer 所持ポイント :P0
            .balance
              %p.text フリペイ残高の使用
              %p.integer 残高 ¥80
            .comment
              %p.text 同時に選択した場合、メルカリポイント→メルペイ残高の順でお支払いに適用されます
        .content__payment
          %p.text 支払い方法
          %p.comment 登録してください
        .content__address
          .shipping__text
            %p.name 配送先
            %p.text 変更する
          .shipping__address
            %p.integer 〒150-0041
            %p.name 東京都渋谷区神南1-18-2
            %p.number フレーム神南4F
        .content_btn
          %p.text 支払い方法を入力を完了してください。
          %p.btn
          - if @item.buyer_id.blank?
            = f.submit '購入する', class: 'buy_btn', id: 'buy', data: { confirm: '購入しますか？' }
          - else
            %p#soldout.soldout_btn 売り切れました

  .footer
    .footer__top
      .footer__text プライバシーポリシー
      .footer__text フリマ利用規約
      .footer__text 特定商取引に関する表記
    %p.footer__logo
      = link_to root_path do
        = image_tag ("logo.png"), class: "bBtn"
    %p.footer__copyright
      &copy; FURIMA