.wrapper
  .wrapper__top
    .header
      .header__icon
        = link_to root_path do
          = image_tag ("logo.png"), class: "aBtn"
  .contents
    .content
      = form_with url:pay_item_buyers_path(params[:item_id]), method: :post, local: "true" do |f|
        .content__top
          .content__top__title
            購入内容の確認
        .content__img
          .tagimg
            = image_tag "#{@item.item_images[0].image}", size: '200x150', class: 'buy-image'
          .textimg
            .textimg_name
              %div 商品名
              = @item.name
            .amount
              %div 支払い金額
              .integer
                = "¥#{@item.price}"
        .content__payment
          .payment_title
            支払い方法
            .inner_card
              .inner_card__brand
                %figure
                  = image_tag asset_path("card/#{@card_image}"), width: "60", height: "50", alt: @card_brand, id: "card_image"
              .inner_card__number
                = "**** **** **** " + @card_info.last4
              .inner_card__deadline
                .inner_card__deadline_title
                  有効期限
                .inner_card__deadline_date
                  = @exp_month + " / " + @exp_year
          .shipping__address
            .address_info
              配送先
            .user_address
              = @address.postal_code
              %br
              = @address.prefecture
              = @address.city
              = @address.address
              = @address.building_name
              .user_name
                %br
                %br
                氏名:
                = @user.last_name
                = "#{@user.first_name}様"
                
        .content_btn
          %p.btn
          - if @item.buyer_id.blank?
            = f.submit '購入する', class: 'buy_btn', id: 'buy', data: { confirm: '購入しますか？' }
          - else
            %p#soldout.soldout_btn 売り切れました

  .footer
    .footer__top
      .footer__text プライバシーポリシー
      .footer__text フリマ利用規約
      .footer__text 特定商取引に関する表記
    %p.footer__logo
      = link_to root_path do
        = image_tag ("logo.png"), class: "bBtn"
    %p.footer__copyright
      &copy; FURIMA